
html {
      margin: 20px 40px 10px 40px;
    height: 100%;
}
body {
    padding-top: 30px;
   font-size: 16px;
    background: #eee;
}

.navbar {
    margin-bottom: 0;
}
.jumbotron {
text-align: center;
    width: 100%;
 
}
img {
    display: inline-block;

}
h1, h2 {
text-align: center;
   font-family: 'Permanent Marker', cursive;
    
}

p, h1, h2 {
font-family: 'Oswald', sans-serif;
    
}
.row {padding-top: 20px;
    padding-bottom: 30px;
}

.wrapper{
min-height: 500px;
}


.form {
    height: 300px;

}
#quote, #about, #random {
height: 200px;
    
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  
    img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
   
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  
    h1 {
    font-size: 75px;
    }
    h2 {
    font-size: 30px;}
}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    
    h1 {
    font-size: 32px;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}